{% extends 'default.html' %}

{% block title %}
    Cirurgião Plástico
{% endblock %}

{% block main%}
{% include '_nav.html' %}
{% include '_messages.html' %}


<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <form method="POST" action="{% url 'list_preconsults' %}">
                {% csrf_token %}
                <br>
                {% include '_messages.html' %}
                <p class="text-black border-top">
                    <strong>Nome</strong>
                </p>
                <p class="text-black">
                    {{ preconsulta.name | upper }}
                </p>
                <p class="text-black border-top">
                    <strong>Telefone</strong>
                </p>
                <p class="text-black">
                    {{ preconsulta.phone | upper }}
                </p>
                <p class="text-black border-top">
                    <strong>Idade</strong>
                </p>
                <p class="text-black">
                    {{ preconsulta.age | upper }}
                </p>
                <p class="text-black border-top">
                    <strong>Profissão</strong>
                </p>
                <p class="text-black">
                    {{ preconsulta.profession | upper }}
                </p>
                <p class="text-black border-top">
                    <strong>Cirurgia(s)</strong>
                </p>
                <p class="text-black">
                    {{ preconsulta.surgery | upper }}
                </p>
                <p class="text-black border-top">
                    <strong>Expectativa</strong>
                </p>
                <p class="text-black">
                    {{ preconsulta.expectancy | upper }}
                </p>
                <p class="text-black border-top">
                    <strong>Medo</strong>
                </p>
                <p class="text-black">
                    {{ preconsulta.fear | upper }}
                </p>
                <p class="text-black border-top">
                    <strong>Indicação</strong>
                </p>
                <p class="text-black">
                    {{ preconsulta.recommendation | upper }}
                </p>
                <p class="text-black border-top">
                    <strong>Data e Hora</strong>
                </p>
                <p class="text-black">
                    {{ preconsulta.creation_time | date:'d/m/y H:i:s' }}
                </p>
                <p class="text-black border-top">
                </p>
                <br>
                <button type="submit" class="btn btn-dark ">
                    Voltar
                </button>
                <br>
                <br>
                <br>
            </form>
        </div>
<div class="col-sm">
</div>
</div>
</div>


{% endblock%}

{% block footer %}
    {% include '_footer.html' %}
{% endblock%}