{% extends 'default.html' %}

{% block title %}
    Pré-Consulta
{% endblock %}

{% block main%}
{% include '_nav.html' %}
{% include '_messages.html' %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm">
            <p class="text-black border-top">
                <strong>
                    Nome
                </strong>
                {% if preconsulta.name %}
                    <button class="btn btn-secondary btn-sm btn-sm float-right"
                            type="button" onclick="copiarTexto('{{preconsulta.name | upper}}')">
                        Copiar
                    </button>
                {% endif %}
            </p>
            <p class="text-black" style="background-color: rgba(220,220,220)">
                <div class="row">
                    <div class="col-sm">
                        <input class="form-control form-sm" readonly
                               style="background-color: rgba(220,220,220)"
                                    type="text" value="{{ preconsulta.name | upper }}">
                    </div>
                </div>
            </p>
            <p class="text-black border-top">
                <strong>
                    Telefone
                </strong>
                {% if preconsulta.phone %}
                    <button class="btn btn-secondary btn-sm btn-sm float-right"
                            type="button" onclick="copiarTexto('{{preconsulta.phone | upper}}')">
                        Copiar
                    </button>
                {% endif %}
            </p>
            <p class="text-black" style="background-color: rgba(220,220,220)">
            <div class="row">
                <div class="col-2 ">
                    <input class="form-control form-sm text-center"
                       style="background-color: rgba(220,220,220)"
                            type="text" name="valorTeste"
                                id="ddi" value="55">
                </div>
                <div class="col-7">
                    <input class="form-control form-sm text-center"
                       style="background-color: rgba(220,220,220)"
                            type="text" name="valorTeste"
                                id="celular" value="{{ preconsulta.phone | upper }}">
                </div>
                <div class="col-3">
                    <a class="btn btn-success text-white float-right"
                    onclick="this.href='https://wa.me/'+document.getElementById('ddi').value+document.getElementById('celular').value+
                    '?text=Olá {{ preconsulta.name | upper }}.'+
                    '%0DIdentificamos através da pré consulta {{ preconsulta.id }}, o seu interesse em realizar uma cirurgia na face.'+
                    '%0DPara o melhor aproveitamento da consulta, pedimos que se cadastre e envie as imagens solicitadas no link abaixo:'+
                    '%0Dhttps://my.crisalix.com/signup/drcurado'" >
                     whatsapp
                    </a>
                </div>
            </div>
            </p>
            <div class="row">
                <div class="col-sm">
                    <p class="text-black border-top">
                        <strong>
                            Idade
                        </strong>
                        {% if preconsulta.age %}
                            <button class="btn btn-secondary btn-sm btn-sm float-right"
                                    type="button" onclick="copiarTexto('{{preconsulta.age | upper}}')">
                                Copiar
                            </button>
                        {% endif %}
                    </p>
                    <p class="text-black" style="background-color: rgba(220,220,220)">
                        <div class="row">
                            <div class="col-sm">
                                <input class="form-control form-sm" readonly
                                       style="background-color: rgba(220,220,220)"
                                            type="text" value="{{ preconsulta.age | upper }}">
                            </div>
                        </div>
                    </p>
                </div>
                <div class="col-sm">
                    <p class="text-black border-top">
                        <strong>
                            Altura
                        </strong>
                        {% if preconsulta.height %}
                            <button class="btn btn-secondary btn-sm btn-sm float-right"
                                    type="button" onclick="copiarTexto('{{preconsulta.height | upper}}')">
                                Copiar
                            </button>
                        {% endif %}
                    </p>
                    <p class="text-black" style="background-color: rgba(220,220,220)">
                        <div class="row">
                            <div class="col-sm">
                                <input class="form-control form-sm" readonly
                                       style="background-color: rgba(220,220,220)"
                                            type="text" value="{{ preconsulta.height | upper }}">
                            </div>
                        </div>
                    </p>
                </div>
                <div class="col-sm">
                    <p class="text-black border-top">
                        <strong>
                            Peso
                        </strong>
                        {% if preconsulta.weight %}
                            <button class="btn btn-secondary btn-sm btn-sm float-right"
                                    type="button" onclick="copiarTexto('{{preconsulta.weight | upper}}')">
                                Copiar
                            </button>
                        {% endif %}
                    </p>
                    <p class="text-black" style="background-color: rgba(220,220,220)">
                        <div class="row">
                            <div class="col-sm">
                                <input class="form-control form-sm" readonly
                                       style="background-color: rgba(220,220,220)"
                                            type="text" value="{{ preconsulta.weight | upper }}">
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <p class="text-black border-top">
                <strong>
                    Profissão
                </strong>
                {% if preconsulta.profession %}
                    <button class="btn btn-secondary btn-sm btn-sm float-right"
                            type="button" onclick="copiarTexto('{{preconsulta.profession | upper}}')">
                        Copiar
                    </button>
                {% endif %}
            </p>
            <p class="text-black" style="background-color: rgba(220,220,220)">
                <div class="row">
                    <div class="col-sm">
                        <input class="form-control form-sm" readonly
                               style="background-color: rgba(220,220,220)"
                                    type="text" value="{{ preconsulta.profession | upper }}">
                    </div>
                </div>
            </p>
            <p class="text-black border-top">
                <strong>
                    Cirurgia(s)
                </strong>
                {% if preconsulta.surgery %}
                    <button class="btn btn-secondary btn-sm btn-sm float-right"
                            type="button" onclick="copiarTexto('{{preconsulta.surgery | upper}}')">
                        Copiar
                    </button>
                {% endif %}
            </p>
            <p class="text-black" style="background-color: rgba(220,220,220)">
                <div class="row">
                    <div class="col-sm">
                        <textarea  class="form-control form-sm" readonly
                               style="background-color: rgba(220,220,220)"
                                    type="text" rows="3">{% if preconsulta.check_rinoplasty == True %}[X] RINOPLASTIA ( SOMENTE PRIMÁRIA ); {% endif %}{% if preconsulta.check_prosthesis == True %}[X] PRÓTESE DE MAMA ( SEM RETIRADA DE PELE ); {% endif %}{% if preconsulta.check_mastopexy == True %}[X] MASTOPEXIA COM PRÓTESE ( COM RETIRADA DE PELE ); {% endif %}{% if preconsulta.check_liposculpture == True %}[X] LIPOESCULTURA; {% endif %}{% if preconsulta.check_abdominoplasty == True %}[X] ABDOMINOPLASTIA OU MINI-ABDOME; {% endif %}{% if preconsulta.check_lifting == True %}[X] LIFTING FACIAL; {% endif %}{% if preconsulta.check_otoplasty == True %}[X] OTOPLASTIA; {% endif %}{% if preconsulta.check_nymphoplasty == True %}[X] NINFOPLASTIA; {% endif %}{{ preconsulta.surgery | upper }}
                            </textarea>
                    </div>
                </div>
            </p>
        </div>
        <div class="col-sm">

            <p class="text-black border-top">
                <strong>
                    Expectativa
                </strong>
                {% if preconsulta.expectancy %}
                    <button class="btn btn-secondary btn-sm btn-sm float-right"
                            type="button" onclick="copiarTexto('{{preconsulta.expectancy | upper}}')">
                        Copiar
                    </button>
                {% endif %}
            </p>
            <p class="text-black" style="background-color: rgba(220,220,220)">
                <div class="row">
                    <div class="col-sm">
                        <textarea  class="form-control form-sm" readonly
                               style="background-color: rgba(220,220,220)"
                                    type="text" rows="3">{{ preconsulta.expectancy | upper }}
                            </textarea>
                    </div>
                </div>
            </p>
            <p class="text-black border-top">
                <strong>
                    Medo
                </strong>
                {% if preconsulta.fear %}
                    <button class="btn btn-secondary btn-sm btn-sm float-right"
                            type="button" onclick="copiarTexto('{{preconsulta.fear | upper}}')">
                        Copiar
                    </button>
                {% endif %}
            </p>
            <p class="text-black" style="background-color: rgba(220,220,220)">
                <div class="row">
                    <div class="col-sm">
                        <textarea  class="form-control form-sm" readonly
                               style="background-color: rgba(220,220,220)"
                                    type="text" rows="3">{{ preconsulta.fear | upper }}
                            </textarea>
                    </div>
                </div>
            </p>
            <p class="text-black border-top">
                <strong>
                    Indicação
                </strong>
                {% if preconsulta.recommendation %}
                    <button class="btn btn-secondary btn-sm btn-sm float-right"
                            type="button" onclick="copiarTexto('{{preconsulta.recommendation | upper}}')">
                        Copiar
                    </button>
                {% endif %}
            </p>
            <p class="text-black" style="background-color: rgba(220,220,220)">
                <div class="row">
                    <div class="col-sm">
                        <textarea  class="form-control form-sm" readonly
                               style="background-color: rgba(220,220,220)"
                                    type="text" rows="2">{{ preconsulta.recommendation | upper }}
                            </textarea>
                    </div>
                </div>
            </p>
            <div class="row">
                <div class="col-sm">
                    <p class="text-black border-top">
                        <strong>
                            Quando operar
                        </strong>
                        {% if preconsulta.age %}
                            <button class="btn btn-secondary btn-sm btn-sm float-right"
                                    type="button" onclick="copiarTexto('{{preconsulta.date_operate | upper}}')">
                                Copiar
                            </button>
                        {% endif %}
                    </p>
                    <p class="text-black" style="background-color: rgba(220,220,220)">
                        <div class="row">
                            <div class="col-sm">
                                <input class="form-control form-sm" readonly
                                       style="background-color: rgba(220,220,220);text-align:center"
                                            type="text" value="{{ preconsulta.date_operate | upper }}">
                            </div>
                        </div>
                    </p>
                </div>
                <div class="col-sm">
                    <p class="text-black border-top">
                        <strong>
                            Data e Hora
                        </strong>
                    </p>
                    <p class="text-black" style="background-color: rgba(220,220,220)">
                        <div class="row">
                            <div class="col-sm">
                                <input class="form-control form-sm" readonly
                                       style="background-color: rgba(220,220,220);text-align:center"
                                            type="text" value="{{ preconsulta.creation_time | date:'d/m/y H:i:s' }}">
                            </div>
                        </div>
                    </p>
                </div>

            </div>
            <p class="text-black border-top">
            </p>
            <form method="POST" >
                {% csrf_token %}
                <button type="submit" class="btn btn-dark " onclick="self.close ()">
                    Fechar
                </button>
                <a class="btn btn-dark text-white float-right"
                        href="{% url 'printdetail' preconsulta.id %}">
                    PDF
                </a>
            </form>

        </div>
    </div>
</div>
<br>
<br>
{% endblock%}

{% block footer %}
{% include '_footer.html' %}
{% endblock%}
