{% extends 'default.html' %}

{% block title %}
    Lista Pré-Consultas
{% endblock %}

{% block main%}
{% include '_nav.html' %}
{% include '_messages.html' %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Idade</th>
            <th scope="col">Profissão</th>
            <th scope="col">Cirurgia</th>
            <th scope="col">Rino</th>
        </tr>
    </thead>
    <tbody>
        {% for data in dados %}
            <tr>
                <td style="width:6.25em">
                    <a href="{% url 'detail_preconsults' data.id  %}" style="text-decoration:none">
                        <div style="height:100%;width:100%" class="text-body">
                            <small>
                                {{ data.creation_time | date:'d/m/y' }}
                            </small>
                        </div>
                    </a>
                </td>
                <td style="width:20.375em">
                    <a href="{% url 'detail_preconsults' data.id  %}" style="text-decoration:none">
                        <div style="height:100%;width:100%" class="text-body">
                            <small>
                                {{ data.name | upper }}
                            </small>
                        </div>
                    </a>
                </td>
                <td style="width:9.375em">
                    <a href="{% url 'detail_preconsults' data.id  %}" style="text-decoration:none">
                        <div style="height:100%;width:100%" class="text-body">
                            <small>
                                {{ data.phone | upper }}
                            </small>
                        </div>
                    </a>
                </td>
                <td style="width:5.625em">
                    <a href="{% url 'detail_preconsults' data.id  %}" style="text-decoration:none">
                        <div style="height:100%;width:100%" class="text-body">
                            <small>
                                {{ data.age | upper }}
                            </small>
                        </div>
                    </a>
                </td>
                <td style="width:15.375em">
                    <a href="{% url 'detail_preconsults' data.id  %}" style="text-decoration:none">
                        <div style="height:100%;width:100%" class="text-body">
                            <small>
                                {{ data.profession | upper }}
                            </small>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'detail_preconsults' data.id  %}" style="text-decoration:none">
                        <div style="height:100%;width:100%" class="text-body">
                            <small>

                                {{ data.surgery | upper }}

                            </small>
                        </div>
                    </a>
                </td>
                <td>

                    {% if 'rino' in data.surgery.lower or 'rhino' in data.surgery.lower or 'nariz' in data.surgery.lower   %}
                        <img src="/static/check.png" width="15em" height="15em"
                     class="img-fluid;" alt="check">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>





<!--<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for pagina in patients.paginator.page_range %}
            {% if patients.number == pagina %}
                <li class="page-item active"><a class="page-link" href="?p={{ pagina }}&text={{ request.GET.text }}">{{ pagina }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?p={{ pagina }}&text={{ request.GET.text }}">{{ pagina }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>-->

{% endblock%}

{% block footer %}
    {% include '_footer.html' %}
{% endblock%}
