<style>
@charset "UTF-8";
    h1 {
        color: black;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
    p {
        color: black;
        font-size: 12px;
        padding: 0 3em 0 3em;
        text-align: justify;
      }
    pre {
        color: black;
        font-size: 12px;
        padding: 0 3em 0 3em;
        text-align: justify;
      }

</style>
<h1>Detalhes da Preconsulta {{ dados.id }}</h1>
<hr>
<p>
    <strong>
        NOME
    </strong>
</p>
<p>
    {{ dados.name | upper }}
</p>
<hr>
<p>
<pre>
<strong>{{ phone_str }}{{ age_str }}{{ height_str }}{{ weight_str }}</strong>
</pre>
<pre>
{{ dados.phone | upper }}{{ dados.age | upper }}{{ dados.height | upper }}{{ dados.weight | upper }}
</pre>
</p>
<hr>
<p>
    <strong>
        PROFISSÃO
    </strong>
</p>
<p>
    {{ dados.profession | upper }}
</p>
<hr>
<p>
    <strong>
        CIRURGIAS
    </strong>
</p>
<p>
    {% if dados.check_rinoplasty == True %}[X] RINOPLASTIA ( SOMENTE PRIMÁRIA );<br>{% endif %}
    {% if dados.check_prosthesis == True %}[X] PRÓTESE DE MAMA ( SEM RETIRADA DE PELE );<br> {% endif %}
    {% if dados.check_mastopexy == True %}[X] MASTOPEXIA COM PRÓTESE ( COM RETIRADA DE PELE );<br> {% endif %}
    {% if dados.check_liposculpture == True %}[X] LIPOESCULTURA;<br> {% endif %}
    {% if dados.check_abdominoplasty == True %}[X] ABDOMINOPLASTIA OU MINI-ABDOME;<br> {% endif %}
    {% if dados.check_lifting == True %}[X] LIFTING FACIAL;<br> {% endif %}
    {% if dados.check_otoplasty == True %}[X] OTOPLASTIA<br> {% endif %}
    {% if dados.check_nymphoplasty == True %}[X] NINFOPLASTIA;<br> {% endif %}
    {{ dados.surgery | upper }}
</p>
<hr>
<p>
    <strong>
        EXPECTATIVA
    </strong>
</p>
<p>
    {{ dados.expectancy | upper }}
</p>
<hr>
<p>
    <strong>
        MEDO
    </strong>
</p>
<p>
    {{ dados.fear | upper }}
</p>
<hr>
<p>
    <strong>
        INDICAÇÃO
    </strong>
</p>
<p>
    {{ dados.recommendation | upper }}
</p>
<hr>
<p>
<strong>DATA DO CADASTRO:</strong> {{ dados.creation_time | date:'d/m/y H:i:s' }} <strong>- DATA QUE DESEJA OPERAR:</strong> {{ dados.date_operate }}</p>
<hr>