<footer class="footer mt-auto text-center py-3 fixed-bottom">
    <span class="text-muted" >
        <small>
        <strong>



        </strong>
            Consultas:
        <a href="">
            <a href="https://wa.me/5562998550909?text=">62 99855-0909</a>
        </a>
        <img src="/static/whatsapp-min.png" width="25m" height="25em"
                     class="img-fluid;" alt="Imagem responsiva">
        </strong>
            Cirurgias:
        <a href="">
            <a href="https://wa.me/5562998550909?text=">62 99988-0909</a>
        </a>
            <img src="/static/whatsapp-min.png" width="25m" height="25em"
                     class="img-fluid;" alt="Imagem responsiva">
            </small>
    </span>
</footer>